* {
  font-family: "Plus Jakarta Sans", sans-serif;
}

header {
  /* background-color: #ef5941; */
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: rgba(0, 0, 0, 0.319);
}

/* .slide-carousel .carousel-item img {
  width: 20%;
} */
